[submodule "c/sgx/oram/src/SipHash"]
	path = c/SipHash
	url = https://github.com/veorq/SipHash
[submodule "c/noise-c"]
	path = c/noise-c
	url = https://github.com/signalapp/noise-c.git
[submodule "c/libsodium"]
	path = c/libsodium
	url = https://github.com/jedisct1/libsodium
